.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

body {
  background-color: #9f0933;
}
.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.carousel-caption {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.discount {
  color: white;
  text-align: center;
}
h6 {
  color: white;
  padding-bottom: 20px;
}
#email {
  padding-top: 5px;
  padding-bottom: 7px;
  font-weight: bold;
  margin-left: 350px;
}
#emails {
  margin-top: 20px;
  margin-bottom: 30px;
}

#selection {
  color: #f4eb49;
  font-style: "Montserrat", "Lato";
  font-size: 18px;
  font-weight: bold;

  margin-left: 50px;
}
#select {
  margin-top: 30px;
}

.navbar-dark {
  color: white;
  font-family: "Montserrat", "Lato", "Source Sans Pro", sans serif;
  font-size: 12px;
  background-color: #e80a4d;
  background-image: linear-gradient(
    to right,

    #f5175a,
    #e80a4d,
    #d00945
  );
}
header {
  color: #e80a4d;
  padding-bottom: 100px;
}

#foot {
  color: white;
}

.birthday {
  color: #e80a4d;
  text-align: center;
  padding-top: 30px;
}

#subscribe {
  margin-bottom: 40px;
}
#motto {
  color: #e80a4d;
  padding-bottom: 60px;
}
#firstpic {
  padding-top: 40px;
}
#yourCart {
  color: white;
  background-color: #e80a4d;
  font-style: "Montserrat", "Source Sans Pro", sans serif;
  /* font-size: 14px; */
}
#homeImages {
  background-color: #3d131f;
  padding-right: 20px;
  padding-bottom: 80px;
}
button {
  padding: 0.3rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
.p-1 {
  padding: 1rem;
}
.row {
  flex-wrap: wrap;
}
.col-1 {
  flex-basis: 100%;
}
.col-2 {
  flex-basis: 100%;
}
@media screen and (min-width: 800px) {
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
}
.block {
  background-color: #bee8f7;
  padding: 1rem;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
  width: 100%;
}
.cardBlock {
  background-color: white;
  padding: 1rem;
  margin: 0.5rem;
}
.cardButton {
  padding: 0.3rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100;
  cursor: pointer;
}
/* may want to change the background color of page so cardblock stands out */
#homeShopbtn {
  color: #e80a4d;
  font-size: 16px;
  padding-left: 6px;
  padding-right: 6px;
}
h2 {
  color: #e80a4d;
  font-style: Montserrat;
}

#homeImagesSmall {
  padding-right: 10px;
  background-color: #3d131f;
}
h3 {
  color: white;
}
#courselLabel {
  font-family: "Montserrat", "Source Sans";
  font-size: 16px;
  color: #f06e9c;
}

/* I wanted the p element to be a different color and smaller in the birthdayclubdiv */

.appreciation {
  font-family: "Montserrat";
  color: black;
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
}

.delivery {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  color: black;
  margin-top: 30px;
  margin-bottom: 100px;
}

.location {
  color: #003399;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat";
}

.responses {
  color: #003399;
  font-weight: bold;
  font-size: 22px;
  font-family: "Montserrat";
}

.card-title {
  color: #ffff00;
  font-size: 27px;
  font-weight: bold;
  font-family: "Montserrat", "Arial Narrow", Arial, sans-serif;
}
#bakeryname {
  color: white;
  font-family: "Montserrat", "Lato";
  font-weight: bold;
}
.rollName {
  color: yellow;
  font-weight: bold;
  font-size: 18px;
}
.cost {
  color: yellow;
  font-size: 16px;
  font-weight: bold;
}
#shopPromotion {
  font-family: Lato;
  color: #f4eb49;
}
.rollDisplay {
  font-family: "Montserrat", "Source Sans Pro";
  font-size: 16px;
  color: white;
  background-color: #3d131f;
  padding-top: 60px;
  padding-bottom: 30px;
}
#featuredProducts {
  background-color: #3d131f;
}
p {
  color: white;
  font-family: "Montserrat", "Source Sans Pro";
  font-size: 16px;
}
.card-text {
  text-decoration: none;
}
.prices {
  text-decoration: none;
}

.textcolor {
  color: #e80a4d;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

header {
  font-family: "Montserrat", "Lobster cursive";
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-family: "Montserrat", "Lato", sans serif;
  /* font-size: 14px; */
  color: #e80a4d;
  padding-top: 90px;
}
.home-images {
  max-width: 100%;
  height: auto;
  margin-right: 40px;
  margin-bottom: 100px;
}
.title {
  color: white;
  font-style: "Montserrat", "Lustria";
  background-color: #e80a4d;
  padding-bottom: 30px;
}
h5 {
  color: #e80a4d;
}
.products {
  color: #e80a4d;
  padding-bottom: 30px;
  padding-top: 30px;
}
#social {
  color: #e80a4d;
}

.left-div {
  float: left;
}
.right-div {
  float: left;
}
.list-unstyled {
  color: white;
}
#return {
  color: white;
}

.div-example {
  width: 300px;
  display: inline-block;
}
.image-title {
  width: 300px;
  display: inlne-block;
  justify-content: center;
}

.img-fluid {
  max-width: 70%;
  height: auto;
}
h3 {
  font-style: "Montserrat", "Ledger", sans serif;
  color: white;
}
.addtocart {
  color: black;
  display: block;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 100px;
  border: none;
  font-size: 2em;
  position: relative;
  cursor: pointer;
  height: 18px;
  width: 30px;
  overflow: hidden;
  transition: transform 0.1s;
  z-index: 1;
}
.cart {
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 12px;
  color: black;
}
.cart span :nth-child(2) {
  padding: 0 3px;
  background-color: blue;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  position: ralative;
  top: -15px;
}

#images {
  margin-top: 30px;
  margin-left: 20px;
}
.socialMedia {
  text-align: center;
  align-items: center;
}
.nav-link {
  font-size: 14px;
}
.container {
  display: inline-block;
}
